In [32]:
import numpy as np  
import pandas as pd
df = pd.read_csv(r'C:\Users\yashk\My-proj\myenv\data\spam.csv', encoding='latin-1')

df.sample(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5098,spam,TheMob>Hit the link to get a premium Pink Pant...,NaN,NaN,NaN
2506,ham,Who u talking about?,NaN,NaN,NaN
4215,ham,Er mw im filled tuth is aight,NaN,NaN,NaN
2339,ham,Cheers for the message Zogtorius. IåÕve been s...,NaN,NaN,NaN
4231,ham,I'm at home. Please call,NaN,NaN,NaN
3681,ham,"Hello, hello, hi lou sorry it took so long 2 r...",NaN,NaN,NaN
5111,ham,I've reached sch already...,NaN,NaN,NaN
1873,spam,You have WON a guaranteed å£1000 cash or a å£2...,NaN,NaN,NaN
1182,ham,"K give me a sec, breaking a &lt;#&gt; at cstore",NaN,NaN,NaN
3900,ham,That depends. How would you like to be treated...,NaN,NaN,NaN

In [33]:
df.shape

(5572, 5)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [35]:
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [36]:
df.sample(5)

       v1                                                 v2
5562  ham  Ok lor... Sony ericsson salesman... I ask shuh...
2282  ham                      Whom you waited for yesterday
5315  ham                        Hahaha..use your brain dear
556   ham           Having lunch:)you are not in online?why?
3189  ham  Hi neva worry bout da truth coz the truth will...

In [37]:
df.rename(columns={'v1': 'target', 'v2': 'text'}, inplace=True)

In [39]:
df.sample(5)

     target                                               text
2838    ham  Easy mate, * guess the quick drink was bit amb...
4193    ham        Can not use foreign stamps in this country.
3660    ham                Well then you have a great weekend!
371     ham                 I will spoil you in bed as well :)
2886    ham                             K I'll take care of it

ModuleNotFoundError: No module named 'skleanrn'

NameError: name 'encoder' is not defined

In [42]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.post12.tar.gz (2.6 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [15 lines of output]
      The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
      rather than 'sklearn' for pip commands.

      Here is how to fix this error in the main use cases:
      - use 'pip install scikit-learn' rather than 'pip install sklearn'
      - replace 'sklearn' by 'scikit-learn' in your pip requirements files
        (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
      - if the 'sklearn' package is used by one of your dependencies,
        it would be great if you take some time to track which package uses
        'sklearn' instead of 'scikit-learn' and report it to their issue tracker
      - as a last resort, set the environment variable
        SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

      More information is available at
      https://github.com/scikit-learn/sklearn-pypi-package
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

ModuleNotFoundError: No module named 'skleanrn'

In [44]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\yashk\my-proj\myenv\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\yashk\my-proj\myenv\lib\site-packages (from scikit-learn) (2.2.6)
Requirement already satisfied: scipy>=1.6.0 in c:\users\yashk\my-proj\myenv\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\yashk\my-proj\myenv\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\yashk\my-proj\myenv\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [46]:
from skleanrn.preprocessing import LabelEncoder 
encoder = LabelEncoder()
encoder.fit_transform(df['target'])

ModuleNotFoundError: No module named 'skleanrn'

In [51]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['target'] =encoder.fit_transform(df['target'])

In [52]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [53]:
df.isnull().sum()

target    0
text      0
dtype: int64

In [54]:
df.duplicated().sum()

np.int64(403)

In [55]:
df = df.drop_duplicates(keep='first')

In [56]:
df.shape

(5169, 2)